.PageLoader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: white;
  
    &--initial-load {
      width: 100%;
      height: 100vh;
  
      &.loaded {
        display: none;
      }
    }
  }
  