// Colors
$main-color: #c41e3d;
$second-color: #f4b200;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints-up: (
  'sm': 576,
  'md': 768,
  'lg': 992,
  'xl': 1200,
  'xxl': 1600,
) !default;
$breakpoints-down: (
  'xs': 575.98,
  'sm': 767.98,
  'md': 991.98,
  'lg': 1199.98,
  'xl': 1599.98,
) !default;
